@import "src/variabels";

.products-wrapper {
  position: relative;
  width: 100vw;
}

.tabs-wrapper {
  padding: 36px 0;
  //background: $darkBlue;
}

.tab-link {
  cursor: pointer;
  list-style: none;
  background: $defaultColor;
  border-radius: 5px;
  width: 254px;
  height: 55px;
  padding: 7px 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $darkBlack;
  font-size: 36px;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tabs-content {
  background: $defaultColor;
}

.tabs-content-title-wrapper {
  display: flex;
  justify-content: center;
}

.tabs-content-title {
  color: $darkBlack;
  font-size: 72px;
  font-weight: 400;
}

.products-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}