@import "src/variabels";

.non-saved-wrapper {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.non-saved-link {
  color: $defaultColor;
}

.non-saved-title {
  color: $defaultColor;
}