@import "src/variabels";
.profile-container{
  background-color: $darkBlue;
  padding: 30px 0 0 100px;
}
.profile-edit-elems{
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-edit-elem{
  font-size: 40px;
  color: $defaultColor;
}
.profile-user-avatar{
  background-color: $lightBlue;
  width: 85px;
  height:85px;
  border-radius: 15px;
  display: grid;
  place-items: center;
  font-size: 55px;
  color: $defaultColor;
}
.profile-edit-elems-form{
  display: flex;
  align-items: center;
  height: auto;
  gap: 15px;
}
.profile-data-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.profile-edit-elem-icon{
  width: auto;
  height: 35px;
}
.profile-edit-data-container{
  display: flex;
  align-items: center;
  height: auto;
  gap: 15px
}
.profile-data{
  font-size: 30px;
  color: $defaultColor;
}
.profile-data-wrapper{
  margin-top: 20px;
}
.profile-edit-field{
  padding: 10px 15px;
  background-color: $blue;
  border: none;
  border-radius: 10px;
  outline: none;
  color: $defaultColor;
  &::placeholder{
    color: $defaultColor;
  }
}
.profile-peculiarities-wrapper{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.profile-peculiarities{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profile-peculiarities-title{
  color: $defaultColor;
  font-size: 36px;
  font-weight: 400;
}
.profile-peculiarities-describe{
  max-width: 455px;
  color: $defaultColor;
  font-size: 18px;
}
.profile-cards-wrapper{
  padding: 120px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 120px;
}