$darkColor: #222;
$defaultColor: #fff;

$lightBlue: #334771;
$darkBlue: #2B3A58;
$blue: #5175BC;
$lightGray: #E3E3E3;
$lightColor: #F2EEE9;
$darkBlack: #0A0A0A;

$green: #26B757;

$totalBlack: #000;
$darkRed: #3D0000;
$red: #950101;
$lightRed: #FF0000;

